<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src='lessons.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text='sitename'></h1>
            <button @click='showCheckout'>{{ cartCount }}<span class='fas fa-shopping-cart'></span></button>
        </header>
        <div v-if="showlessons">
        <div v-for="lessons in lessons">
            <figure>
                <p><img v-bind:src="lessons.image"></p>
            </figure> 
            <h3>Subject: {{lessons.subject}}</h3>
            <p>Location: {{lessons.location}}</p>
            <p>Spaces available: {{lessons.spaces}} {{ spacesAvailable }}</p>
            <p>Price: {{lessons.price}}</p>

            <button @click="addToCart" v-if="canAddToCart">Add to Cart</button>
            <button disabled="disabled" v-else>Add To cart</button>
        </div>
        </div>

    </div>

    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                sitename: 'After School Lessons',
                lessons: lessons,
                cart: [],
                showlessons: true,

                order: {
                    firstName: '',
                    number: '',
                },
            },
       

        methods: {
            addToCart: function (lessons){
                this.cart.push(this.lessons.id)
            },

            showCheckout() {
                    this.showlessons = this.showlessons ? false : true;
                },

                canAddToCart(lessons) {
                    return lessons.spaces > this.cartCount(lessons.id)
                },

        },
        
        computed: {
            cartCount: function (){
                return this.cart.length || "";
            },

            spacesAvailable: function(lessons){
                    return lessons.spaces - this.cartCount;
                },
        },

        
     })
    </script>
</body>
</html>